.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  margin: 0;
  width: 100%;
  margin-bottom: 40px;
  background-color: #8d0045;
}

.header ul li {
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.header ul {
  display: flex;
  list-style: none;
  margin-right: 10px;
}

.header a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}

.header li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
