.productCard {
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 2px solid #ff8fba;
    overflow: hidden;
    background: #000;
    background-size: cover;
    margin-top: 20px;
    display: flex;
}

.productCard:hover {
    transform: scale(1.05);
}

.productCard nav {
    width: 250px;
    height: 250px;
    opacity: 0;
    background-color: #000;
    cursor: pointer;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    text-align: center;
}

.productCard:hover nav {
    opacity: 1;
    background-color: #694a5699;
    backdrop-filter: blur(5px);
}

.productCard nav h3 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 75%;
    text-decoration: none;
    margin-top: 50px;
}

.productCard nav p {
    color: #ffffffaa;
    font-size: 1rem;
    font-weight: 500;
    max-width: 75%;
    text-decoration: none;
    margin-bottom: 50px;
}
